/* *COMMON CSS STARTS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  text-align: center;
  
  
  background: linear-gradient(to right, #5ad356, #ea7ea9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
  
  padding: 17px 0;
}
ul{
  list-style: none;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  z-index: 1;
  padding: 20px 25px;
  position: relative;
  font-family:italic;
  
 
 
 
  
}
nav ul li a::before{
  content: '';
  width:0%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  z-index: -1;
  transition: 0.5;
}
nav ul li:hover a::before{
  width: 100%;
  background-color: rgba(76, 89, 176, 0.295);
  transition: 0.5s;
  z-index: -1;
}
nav ul li a::after{
  content: '';
  width:0%;
  height: 100%;
  bottom:0;
  right:0;
  position: absolute;
  z-index: -1;
  transition: 0.5;
}
nav ul li:hover a::after{
  width: 100%;
  background-color: rgba(76, 89, 176, 0.295);
  transition: 0.5s;
  z-index: -1;
}
/* *COMMON CSS ENDS */